<% include ./partials/header %>

<h1>This is landing page for e-Seller App </h1>

<a href="/electronics">view electronics</a></br>

<a href="/clothes">view clothes</a>

<% include ./partials/footer %>

