<% include ../../partials/header %>

<h1> To view all electronics</h1>

<h3><a href="/electronics/mobiles"> mobiles </a></h3>

<h3><a href="/electronics/laptops"> laptops </a></h3>


<% include ../../partials/footer %>